@import "clearCss.css";
@import url('https://fonts.cdnfonts.com/css/segoe-ui-4?styles=18006,18005,18004,18003');

@font-face {
    font-family: "Segoe UI";
    font-weight: 200;
    src: local("Segoe UI Light");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 300;
    src: local("Segoe UI Semilight");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 400;
    src: local("Segoe UI");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 600;
    src: local("Segoe UI Semibold");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 700;
    src: local("Segoe UI Bold");
}
@font-face {
    font-family: "Segoe UI";
    font-style: italic;
    font-weight: 400;
    src: local("Segoe UI Italic");
}
@font-face {
    font-family: "Segoe UI";
    font-style: italic;
    font-weight: 700;
    src: local("Segoe UI Bold Italic");
}

.maine__footer {
    width: 100%;
    background: #6725A8;
    justify-content: center;
    align-items: center;
    gap: 27px;
    display: flex;
    justify-items: center;
    padding: 24px;
    flex-direction: column;
}

.center__footer {
    display: flex;
    justify-content: center;
}

.text_footer {
    color: rgba(255, 255, 255, 0.70);
    font-size: 13px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 400;
    line-height: 16px;
    word-wrap: break-word;
}

.mobile__icons{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 0 13px;
}

.mobile__icons img {
    margin: 20px 0;

}

@media (min-width: 701px) {
    .mobile__icons {
        display: none;
    }
}



