@import "clearCss.css";
@import url('https://fonts.cdnfonts.com/css/segoe-ui-4?styles=18006,18005,18004,18003');

@font-face {
    font-family: "Segoe UI";
    font-weight: 200;
    src: local("Segoe UI Light");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 300;
    src: local("Segoe UI Semilight");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 400;
    src: local("Segoe UI");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 600;
    src: local("Segoe UI Semibold");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 700;
    src: local("Segoe UI Bold");
}
@font-face {
    font-family: "Segoe UI";
    font-style: italic;
    font-weight: 400;
    src: local("Segoe UI Italic");
}
@font-face {
    font-family: "Segoe UI";
    font-style: italic;
    font-weight: 700;
    src: local("Segoe UI Bold Italic");
}

.header {
    width: 100%;
    height: 100%;
    padding: 12px 3px 13px 23.5px;
    background: #6725A8;
    justify-content: space-between;
    align-items: center;
    gap: 27px;
    display: inline-flex
}

.left {
    height: 56px;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    display: flex;
}

.box {
    padding: 12px 10px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px rgba(255, 255, 255, 0.45) solid;
    justify-content: center;
    align-items: center;
    display: flex
}

.title {
    width: 110px;
    color: white;
    font-size: 21px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 2.4px;
    padding-top: 5px;
    word-wrap: break-word;
    padding-bottom: 6px;
}

.burger {
    align-self: stretch;
    border-radius: 8px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
    display: inline-flex;
    color: white;
}

.search {
    height: 48px;
    padding: 0 19px;
    background: rgba(255, 255, 255, 0.20);
    border-radius: 36px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
}

.search__input {
    background: transparent;
    color: white;
    font-size: 18px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 100;
    line-height: 24px;
    word-wrap: break-word;
    padding-bottom: 5px;
}

.search__input::placeholder {
    background: transparent;
    color: white;
    font-size: 18px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
    opacity: 0.50
}

.right {
    width: 175px;
    padding-right: 23px;
    justify-content: space-between;
    align-items: flex-end;
    gap: 40px;
    display: flex;
    padding-left: 5px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user__icon__div {
    padding-top: 4px;
}

.text {
    color: white;
    font-size: 13px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 200;
    line-height: 16px;
    word-wrap: break-word;
    margin-top: 8px;
    padding-bottom: 7.2px;
}

.basket__icon {
    position: relative;
}

.red__circle {
    width: 16px;
    height: 16px;
    padding-left: 2px;
    padding-right: 2px;
    left: 32px;
    top: -4px;
    position: absolute;
    background: #F55123;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.total__in__the__basket {
    width: 12px;
    text-align: center;
    color: white;
    font-size: 10px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 700;
    line-height: 17px;
    word-wrap: break-word
}

.text__basket {
    padding-left: 4px;
}


@media (max-width: 700px) {
    .header {
        display: none;
    }
}

.header__mobile {
    display: flex;
    width: 100%;
    height: 56px;
    padding: 0 13px;
    background-color: #6725A8;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.center__mobile {
    width: 100%;
}

.title__mobile {
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 2px;
    word-wrap: break-word;
    text-transform: uppercase;
    padding: 0 0 5px 4.5px;
}

@media (min-width: 701px) {
    .header__mobile {
        display: none;
    }
}









