@import "clearCss.css";
@import url('https://fonts.cdnfonts.com/css/segoe-ui-4?styles=18006,18005,18004,18003');

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: "Segoe UI";
    font-weight: 200;
    src: local("Segoe UI Light");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 300;
    src: local("Segoe UI Semilight");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 400;
    src: local("Segoe UI");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 600;
    src: local("Segoe UI Semibold");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 700;
    src: local("Segoe UI Bold");
}
@font-face {
    font-family: "Segoe UI";
    font-style: italic;
    font-weight: 400;
    src: local("Segoe UI Italic");
}
@font-face {
    font-family: "Segoe UI";
    font-style: italic;
    font-weight: 700;
    src: local("Segoe UI Bold Italic");
}

.wb__check__box {
    border-radius: 10px;
    width: 22px;
    height: 22px;
    color: #00000033;
}

.wb__check__box:checked {
    background-color: #CB11AB;
}

.pre__border {
    background-color: #6725A8;
}

.maine__info {
    background-color: #F6F6FA;
    border-radius: 24px;
    padding: 24px;
    display: flex;
}

.basket {
    flex: 1 1 71%;
    padding: 10px 24px 16px 0px;
}

.order {
    flex: 1 1 33%;
    align-self:flex-start;
}

.order__card {
    width: 100%;
    height: 100%;
    padding: 16px 24px 24px 24px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.30);
    border-radius: 16px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    display: flex;
}

.results {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    display: inline-flex
}

.results__block {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    display: flex
}

.results__flex {
    display: inline-flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
}



.dop__info_about__order{
    align-self: stretch;
    height: 72px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex
}

.results__all {
    display: inline-flex;
    word-wrap: break-word;
    align-self: stretch;
    justify-content: space-between;
    align-items: flex-start;
}

.results__text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word
}

.results__all__text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.crutch{
    color: black;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    line-height: 28px;
    word-wrap: break-word
}

.delivery {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    display: inline-flex;
}

.column__delivery {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    display: flex
}

.delivery__info {
    align-self: stretch;
    height: 65px;
    border-radius: 8px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
    display: flex
}

.map__point {
    align-self: stretch;
    justify-content: center;
    align-items: center;
    gap: 16px;
    display: inline-flex
}

.map__point__text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex: 1 1 0;
    color: black;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word
}

.text__map__point {
    flex: 1 1 0;
    color: black;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    word-wrap: break-word
}

.text__map__point__purple {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #CB11AB;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    word-wrap: break-word
}

.vector__line {
    align-self: stretch;
    border: 1px rgba(203, 17, 171, 0.20) dotted;
    margin-bottom: 8px;
}

.delivery__free {
    align-self: stretch;
    padding: 8px 8px 12px 8px;
    background: #F6F6FA;
    border-radius: 8px;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    display: inline-flex
}

.column__delivery__free {
    display: flex;
    flex-direction: column;
}

.delivery__free__text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.delivery__free__text__color {
    color: #0CB477;
}

.delivery__free__line {
    border-bottom: 1px dotted #0CB47733;
    width: 100%;
    margin-top: 5px;
}

.pay {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    display: inline-flex
}

.pay__pre {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    display: flex
}

.pay__pre__pre {
    align-self: stretch;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4px;
    display: flex
}

.pay__card {
    align-self: stretch;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    display: inline-flex
}

.pay__bank {
    align-self: stretch;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    display: inline-flex
}

.pay__free {
    display: flex;
    padding: 8px 8px 12px 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    background-color: #00000033;
}

.delivery__free__pre {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    display: flex
}

.pay__text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.pay__flex {
    align-self: stretch;
    border-radius: 8px;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    display: inline-flex
}

.order__box {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    display: inline-flex
}

.button__main {
    align-self: stretch;
    height: 44px;
    padding-bottom: 5px;
    padding-left: 32px;
    padding-right: 32px;
    background: #CB11AB;
    border-radius: 8px;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex
}

.order__agreement {
    align-self: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    display: inline-flex
}


@media (max-width: 1060px) {
    .delivery__info {
        margin-bottom: 10px;
    }
}

@media (max-width: 950px) {
    .maine__info {
        flex-direction: column;
        padding: 8px 16px 8px 16px;
    }

    .order {
        padding: 0;
    }

    .order__card {
        display: flex;
        padding: 8px 16px 0px 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        box-shadow: 0px 0px 0px;
        background-color: #F6F6FA;
    }

    .results__all__text {
        font-size: 20px;
        line-height: 28px;
    }

    .delivery__free {
        background-color: #F0ECF4
    }

    .delivery__info {
        display: none;
    }

    .pay__text {
        font-size: 12px;
    }

    .delivery__free__text {
        font-size: 12px;
    }

    .pay__pre__pre {
        display: none;
    }
}

.basket__big__text {
    color: black;
    font-size: 28px;
    font-family: Segoe UI;
    font-weight: 700;
    line-height: 36px;
    word-wrap: break-word
}

.all__add {
    display: flex;
    justify-content: space-between;
    padding: 27px 0 16px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.check_box__all {
    display: inline-flex;
}

.img__check_box__all {
    margin-right: 13px;
}



.product {
    align-self: stretch;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    padding: 0px 10px 20px 0px;
}


.product__left {
    flex: 1 1 0;
    padding-top: 12px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.photo__and__check {
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    display: flex
}

.product__info {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    display: inline-flex;
    width: 250px;
}

.product__name {
    align-self: stretch;
    color: black;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}

.product__characteristics {
    align-self: stretch;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    display: inline-flex
}

.product__characteristics__text {
    color: black;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    word-wrap: break-word
}

.product__dop__info {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
    display: flex
}

.product__dop__info__text {
    color: #9797AF;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    word-wrap: break-word
}

.product__dop__info__inline {
    align-self: stretch;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    display: inline-flex
}

.product__right {
    align-self: stretch;
    padding-top: 9px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    display: flex;
    width: 226px;
}

.quantity {
    align-self: stretch;
    padding-top: 3px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 8px;
    display: flex;
}

.quantity__only__left {
    width: 100px;
    color: #FF3B30;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    word-wrap: break-word
}

.quantity__regular {
    position: relative;
    background: white;
    border-radius: 8px;
    width: 100px;
    height: 44px;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}

.quantity__regular__number {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word
}

.plus {
    color: black;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word
}

.inline__icon {
    justify-content: center;
    align-items: center;
    gap: 16px;
    display: inline-flex
}

.total__amount {
    flex: 1 1 0;
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 5px;
    display: inline-flex
}

.total__amount__sum__without__sale {
    color: black;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    word-wrap: break-word
}

.total__amount__sum__without__sale span {
    font-size: 16px;
}

.total__amount__sum__with__sale {
    color: #9797AF;
    font-size: 13px;
    text-decoration: line-through;
    font-weight: 400;
    line-height: 16px;
    word-wrap: break-word
}

.total__amount__vector {
    width: 100%;
    border: 1px rgba(0, 0, 0, 0.20) dotted
}

.all__check__box__true {
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word
}

.product__lose {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.faberCastle {
    padding-bottom: 0;
}

@media (max-width: 701px) {
    .basket__big__text {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px; /* 140% */
        letter-spacing: -0.2px;
    }

    .all__check__box__true {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
    }

    .product {
        flex-direction: column;
    }
    .product__dop__info__inline {
        display: none;
    }
    .quantity {
        flex-direction: row;
        align-items: center;
        height: 25px;
    }
    .photo__and__check {
        position: relative;
    }
    .mobile__icons__check__box {
        position: absolute;
        bottom: 70px;
        left: 3px;
    }
    .product__name {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        width: 192px;
        height: 40px;
        overflow: hidden;
        text-overflow: ellipsis
    }

    .quantity__regular {
        width: 80px;
        height: 32px;
    }

    .quantity__regular__number {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
    }
    .minus {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 120% */
        letter-spacing: -0.2px;
    }
    .plus {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 120% */
        letter-spacing: -0.2px;
    }
    .total__amount {
        display: none;
    }
}


.gray__photo {
    filter: grayscale();
}

.product__name__gray {
    color: #9797AF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 309px;
}

.product__characteristics__text__gray {
    color: #9797AF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.quantity__gray {
    width: 100px;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 700px) {
    .basket {
        padding: 0;
    }

    .product__name__gray {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        width: 192px;
        height: 40px;
        overflow: hidden;
        text-overflow: ellipsis; /* Добавляем многоточие */

    }

    .product__characteristics__text__gray {
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
    }

    .product__right {
        width: 100%;
        justify-content: flex-end;
    }
}

.white__back {
    border-radius: 16px;
    background: #FFF;
    display: flex;
}

.payment__method {
    margin: 16px 0;
    display: flex;
    padding: 16px 24px 24px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.maine__text__payment__method {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    width: 100%;
    justify-content: space-between;
}

.maine__title__method {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.24px;
}

.redux {
    color: #CB11AB;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}
